// Place all the styles related to the contact controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* とりあえず */
ul{
    list-style: none;
    padding: 0;
}
.alerts{
    padding: 10px;
}